body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(153, 236, 244);
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 7px;
}

button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #59e15d;
    border-radius: 7px;
}

.productCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 25px 25px 75px rgba(197, 218, 238, 0.5),
                10px 10px 70px rgba(212, 229, 246, 0.5),
                inset 5px 5px 5px rgb(152, 194, 236),
                inset -5px 5px 5px rgba(152, 194, 236),
                inset -5px -5px 5px rgba(152, 194, 236)
                ;
    display: inline-block;
    width: calc(43.5%  - 5%);
    height: calc(51% - 2%);
    box-sizing: content-box;
    border-radius: 6px;
}

.card img {
    width: 50%;
    height: auto;
}

p {
    color: #555;
}